<div class='row'>
  <h1 class='text-center'>Dashboard</h1>
  <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-primary' %>
  <hr />
</div>

<% if @tweets.any? %>
  <% @tweets.each do |tweet| %>
  <div class='row'>
  <div class="col-sm-4 col-sm-offset-4 panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">@<%= tweet.user.username %></h3>
    </div>
    <div class="panel-body">
      <h5><%= tweet.body %></h5>
      <p><%= time_ago_in_words(tweet.created_at) %> ago</p>
    </div>
    </div>
  </div>
  <% end %>
<% else %>
  <h3>Nothing here</h3>
<% end %>

<%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>